<settings>

    <setting propertyKey="@Properties.Theme" title="@Strings.ThemeTitle">
        <settingConfig type="list">
            <listEntry value="0">@Strings.DarkTheme</listEntry>
            <listEntry value="1">@Strings.LightTheme</listEntry>
        </settingConfig>
    </setting>

    <setting propertyKey="@Properties.UseMilitaryFormat" title="@Strings.MilitaryFormatTitle">
        <settingConfig type="boolean" />
    </setting>

</settings>
